<footer class="wrapper">
  <div>
    <span class="copyright">{{ site.title }} &copy; 2018 &middot;</span>
    <nav>
      <ul class="footer-nav">
        {% assign pages = site.pages | sort: 'position' %}
        {% for page in pages %}
          {% if page.title %}
            <li><a href="{{page.url}}" class="page-link{% if page.url == url %} selected{% endif %}">{{page.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
  <ul class="social-media">
    {% if site.instagram_username %}
      <li class="instagram"><a href="http://instagram.com/{{ site.instagram_username }}"><span>Instagram</span></a></li>
    {% endif %}
    {% if site.medium_username %}
      <li class="medium"><a href="http://medium.com/{{ site.medium_username }}"><span>Medium</span></a></li>
    {% endif %}
    {% if site.steemit_username %}
      <li class="steemit"><a href="http://steemit.com/{{ site.steemit_username }}"><span>Steemit</span></a></li>
    {% endif %}
    {% if site.facebook_url %}
      <li class="facebook"><a href="http://facebook.com/{{ site.facebook_url }}"><span>Facebook</span></a></li>
    {% endif %}
    {% if site.twitter_username %}
      <li class="twitter"><a href="http://twitter.com/{{ site.twitter_username }}"><span>Twitter</span></a></li>
    {% endif %}
  </ul>
</footer>
{% if site.google_analytics %}
  <script>
    (function(window, variableName) {
      window.GoogleAnalyticsObject = variableName;
      window[variableName] = window[variableName] || function() {
        (window[variableName].q = window[variableName].q || []).push(arguments);
      };
      window[variableName].l = 1 * new Date();
    })(window, 'ga');
    ga('create', "{{ site.google_analytics }}");
    ga('send', 'pageview');
  </script>
  <script async src='//www.google-analytics.com/analytics.js'></script>
{% endif %}
