<header class="wrapper">
  <a class="logo" href="{{ site.baseurl }}/">
    <img src="{{ "/img/logo.svg" | prepend: site.baseurl }}" alt="First Block Ventures">
  </a>
  <nav class="nav">
    <a href="#" class="menu-icon">
      <img src="{{ "/img/menu.svg" | prepend: site.baseurl }}" alt="&#9776;">
      <span>Menu</span>
    </a>
    <ul style="display: none;">
      {% assign pages = site.pages | sort: 'position' %}
      {% for page in pages %}
       {% unless page.exclude %}
        {% if page.title %}
          <li><a href="{{page.url}}" class="page-link{% if page.url == url %} selected{% endif %}">{{page.title}}</a></li>
        {% endif %}
       {% endunless %}
      {% endfor %}
    </ul>
  </nav>
</header>
