<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.meta_title %}{{ page.meta_title | escape }}{% else %}{{ site.title | escape }} | Validator{% endif %}</title>
  <meta name="description" content="{% if page.meta_description %}{{ page.meta_description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <meta property="og:image" content="{{ "/img/og-image.jpg" | site.siteurl }}">
  <meta property="og:image:height" content="400">
  <meta property="og:image:width" content="764">
  <meta property="og:title" content="{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.meta_description %}{{ page.meta_description | strip_html | strip_newlines | truncate: 400 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="https://firstblock.io/">

  <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon.ico" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script async src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/site.webmanifest" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/img/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4009586085479359",
      enable_page_level_ads: true
    });
  </script>
  
  <!-- Bottom Banner [iframenojs] -->
  <iframe src="https://servedbyadbutler.com/adserve/;ID=173886;size=300x250;setID=327015;type=iframe;click=CLICK_MACRO_PLACEHOLDER" width="300" height="250" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no">
  </iframe>
  
</head>
