---
layout: default
---

<div class="hero">
  <div class="hero-text container">
    <h2>{{ page.hero_subheader }}</h2>
    <h1>{{ page.hero_header }}</h1>
    <div class="networks">
	    <a href="{{ 'cosmos' | relative_url }}"><img src="{{ '/img/logo-cosmos.svg' | prepend: site.baseurl }}" alt="Cosmos" /></a>
	    <a href="{{ 'tezos' | relative_url }}"><img src="{{ '/img/logo-tezos.svg' | prepend: site.baseurl }}" alt="Tezos"></a>
	</div>
  </div>
</div><!--hero-->
<div class="container">
  {{content}}
</div>
